.btn{
    background-color: var(--button-background-color);
    padding: 14px 32px;
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: var(--bodytext-2);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-semibold);
    text-align: center;
    height: 52px;
    cursor: pointer;

    &:hover{
        background-color: var(--button-hover-background-color);
        color: var(--text-color-dark);
        cursor: pointer;
    }
}
