.booking{
    background-color: var(--accent-color-2);
    padding-top: 95px;
    padding-bottom: 95px;
}

.booking-area {
    align-content: center;
} 

.booking-headline{
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 1rem;
}

.booking-text{
    display: flex;
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 1050px;
    padding-bottom: 1rem;
}

.button-box{
    margin: 0 auto;
    width: 150px;
}