.icon-info-block{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.icon-info-block-image-primary{
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 83px;
    height: 83px;
}

.icon-info-block-image-secondary{
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 60px;
    height: 60px;
}

.icon-info-block-textcontent{
    align-content: center;
}

.icon-info-block-title{

}

.icon-info-block-text{
    width: 550px;
    color: var(--secondary-color);
    font-size: var(--bodytext-1-size);
    font-family: var(--font-family-2);
    font-weight: var(--fontweight-semibold);
}

.contact-link{
    color: var(--secondary-color);
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}