.mainhero-area{
    background-color: var(--accent-color-2);
    height: 712px;
}

.mainhero-content{
    padding-top: 180px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:    "subheadline image"
                            "headline image"
                            "ingress image"
                            "button image";
    align-content: start;
    column-gap: 8rem;
}

.mainhero-subheadline{
    grid-area: subheadline;
    color: var(--accent-color-1);
    padding-bottom: 1rem;
}

.mainhero-headline{
    grid-area: headline;
    color: var(--primary-color);
    line-height: 1;
    padding-bottom: 1rem;       
}

.mainhero-ingress{
    grid-area: ingress;
    color: var(--primary-color);
    padding-bottom: 2rem;    
    width: 732px;
}

.mainhero-button{
    grid-area: button;
    width: 180px;
}

.mainhero-image{
    grid-area: image;
}