.hero{
    background-color: var(--accent-color-2);
    height: 712px;
    
}

.hero-area{
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    padding-top: 178px;
    max-width: 1320px;
    
    

    .hero-content{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:    "welcome hero-image"
                                "headline hero-image"
                                "ingress hero-image"
                                "button hero-image"
        ;
                               
    }
}

.welcome{
    grid-area: welcome;
    color: var(--accent-color-1);

}

.hero-headline{
    grid-area: headline;

    color: var(--primary-color);
}

.hero-ingress{
    grid-area: ingress;
    width: 750px;
    color: var(--primary-color);
}

.hero-button{
    grid-area: button;
    width: 200px;

}

.hero-image{
    display: flex;
    grid-area: hero-image;
    text-align: end;


    img{
        width: 100%;
    }
}



/* 
.hero-image{
                display: none;

                @media (width >= 768px){
                    grid-area: hero-image;
                    display: flex;
                }

                @media (width >=1024px){
                    grid-area: hero-image;
                    display: flex;
                }

                @media (width >= 1440px){
                    grid-area: hero-image;
                    display: flex;
                }

                img{
                    width: 100%;
                }
            } */