footer{
    padding: 2rem 0;
    background-color: var(--secondary-color);
}

.footer-area{
    display: flex;
    justify-content: space-between;   
}

.copy{
    font-family: var(--font-family-1);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-light);
    color: var(--text-color-dark);
}

.terms-policy{
    display: flex;
    align-content: center;
    column-gap: 50px;
    font-family: var(--font-family-1);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-light);

    img{
        padding-right: 10px;
    }
}

.footer-link{
    display: flex;
    color: var(--text-color-dark);
    align-content: center;
}