.postcard-area{
    background-color: var(--secondary-color);
    width: 430px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--accent-color-2);
    } 
}

.postcard-content{
    margin: 0 auto;
}

.postcard-placeholder{
    background-color: #c4c4c4;
    margin: 0 auto;
    height: 254px;
    width: 380px;
    border-radius: 8px;
}

.postcard-date{
    display: flex;
    color: var(--primary-color);
    padding-left: 25px;
    padding-top: 25px;
    font-size: var(--bodytext-4-size);
    font-weight: var(--fontweight-light);
    align-content: center;

    img{
        padding-right: 10px;
    }
}

.postcard-title{
    color: var(--primary-color);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--bodytext-4-size);
    font-family: var(--font-family-2);
    font-weight: var(--fontweight-bold);
}

.postcard-text{
    color: var(--primary-color);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--bodytext-1-size);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-regular);
    transition: color 0.3s ease;
}

.postcard-link{
    display: flex;
    color: var(--accent-color-1);
    padding-left: 25px;
    align-content: center;

    img{
        padding-left: 10px;
    }
}