.get-in-touch-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.get-in-touch-content{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:  "gitsubheadline form"
                        "githeadline form"
                        "gittext form"
                        "gitplaceholder form";
}

.get-in-touch-contact-form{
    grid-area: form;
}

.get-in-touch-subheadline{
    grid-area: gitsubheadline;
    color: var(--accent-color-2);
}
.get-in-touch-headline{
    grid-area: githeadline;
    width: 660px;
    font-size: 3.25rem;
    line-height: 1.1;
}

.get-in-touch-text{
    grid-area: gittext;
    font-size: var(--bodytext-1-size);
    width: 600px;
}

.get-in-touch-placeholder{
    grid-area: gitplaceholder;
    width: 664px;
    height: 367px;
    background-color: var(--placeholder-bg-color);
}