.about-us-area{
    display: grid;
    grid-template-columns: auto;
    padding-top: 95px;
    padding-bottom: 95px;
    max-width: 1367px;

    .about-us-content{
        display: grid;
        column-gap: 2rem;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto ;
        grid-template-areas:    "keyvalues subheadline subheadline"
                                "keyvalues headline headline"
                                "keyvalues about-text about-text"
                                "keyvalues tiles tiles"
                                "keyvalues discover more-info"
        ;
    }
}

.keyvalues{
    grid-area: keyvalues;
}

.subheadline{
    grid-area: subheadline;
    color: var(--accent-color-2);
}

.headline{
    grid-area: headline;
    width: 700px;
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
}

.about-us-text{
    font-size: var(--bodytext-1-size);
    grid-area: about-text;
    width: 650px;
    padding-bottom: 1rem;
}

.tiles{
    grid-area: tiles;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;    
}

.discover{
    grid-area: discover;
    gap: 5rem;
    align-content: center;
    width: 180px;
}

.info-icon{
    width: 60px;
    height: 60px;
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    padding-top: 5px;
    border-radius: 50%;
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: var(--fontweight-bold);
}

.more-info{
    display: flex;
    gap: 1rem;
    align-items: center;
}

