/* .accordion__wrapper {
    display: flex;
    flex-direction: column;
}

.questions__accordion {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 746px;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    padding: 1rem 1.5rem 1rem 1.5rem; 
    margin-bottom: 0.8rem;
    background-color: var(--accordion-background-color);
}

.active .questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 746px;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 
                0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    padding: 1rem 1.5rem 1rem 1.5rem; 
    margin-bottom: 0.8rem;
    background-color: var(--accordion-background-color);
    border: 1px solid var(--border-color);
}

.title__question {
    font-weight: 600;
    color: var(--secondary-color);
    cursor: pointer;
    width: 100%;
    padding-right: 1rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question img {
    background-color: var(--secondary-color);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.8rem;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.answer {
    display: none;
    margin-top: 0.5rem;
}

.active .answer {
    display: block;
    padding: 1rem 0px 1rem 0px;
    color: var(--accordion-answer-text-color);
    transition: all 0.3s ease-in;
}

.active img {
    background-color: red;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.8rem;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
}

.chevron {
    background-color: var(--gray-100);
    color: var(--gray-900);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease-in, fill 0.3s ease-in, color 0.3s ease-in;
}

.active .chevron {
    background-color: red;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
    color: #fff;
} */