.navigation-bar{
    background-color: var(--secondary-color);
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    
    .nav-contact{
        display: flex;
        gap: 1.5rem;
        
        .nav-contact-phone, .nav-contact-mail{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            color: var(--text-color-dark); 
        }
    }

    .nav-socialmedia{
    display: flex;
    gap: 1rem;
    }
}