.blogpost-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.blogpost-subheadline{
    color: var(--accent-color-2);
}

.blogpost-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.blogpost-headline{
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
    font-weight: var(--fontweight-bold);
}

.blogpost-text{
    font-size: var(--bodytext-1-size);
    width: 1000px;
    padding-bottom: 1rem;
}

.blogpost-post{
    display: flex;
    justify-content: space-between;

}
