@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{    
    --background-color: hsla(0, 0%, 100%, 1);
    --link-color: hsla(0, 0%, 100%, 1);

    --primary-color: hsla(0, 0%, 100%, 1);
    --secondary-color: hsla(159, 51%, 14%, 1);
    --accent-color-1: hsla(48, 91%, 50%, 1);
    --accent-color-2: hsla(159, 52%, 14%, 0.80);
    --tertiary-color-1: hsla(0, 0%, 93%, 1);
    --tertiary-color-2: hsla(51, 58%, 95%, 1);
    --tertiary-color-3: hsla(100, 100%, 96%, 1);
    --tertiary-color-4: hsla(100, 100%, 96%, 0.5);

    --error-color: rgb(214, 14, 0);

    --border-color: hsla(0, 0%, 65%, 1);

    --placeholder-bg-color: hsla(0, 0%, 77%, 1);
    
    --font-family-1: "Inter", sans-serif;
    --font-family-2: "Urbanist", sans-serif;

    --h1-size: 5rem;
    --h2-size: 4rem;
    --h3-size: 3.25rem;
    --h4-size: 1.563rem;
    --h5-size: 1.5rem;
    --h6-size: 1.25rem;

    --bodytext-1-size: 1rem;
    --bodytext-2-size: 0.938rem;
    --bodytext-3-size: 1.125rem;
    --bodytext-4-size: 0.875rem;
    --bodytext-5-size: 1.063rem;

    --fontweight-thin: 100;
    --fontweight-extralight: 200;
    --fontweight-light: 300;
    --fontweight-regular: 400;
    --fontweight-medium: 500;
    --fontweight-semibold: 600;
    --fontweight-bold: 700;
    --fontweight-extrabold: 800;
    --fontweight-black: 900;  
    
    --text-color: hsla(159, 51%, 14%, 1);
    --text-color-dark: hsla(0, 0%, 100%, 1);
    
    --button-background-color: hsla(48, 91%, 50%, 1);
    --button-hover-background-color: hsla(159, 51%, 14%, 1);
    --button-hover-dark-background-color: hsla(0, 0%, 100%, 1);

    /*Accordion*/
    --accordion-background-color: hsla(0, 0%, 100%, 0.04);
    --accordion-answer-text-color: hsla(0, 0%, 100%, 0.7); 
}

html, body{
    margin: 0;
    scroll-behavior: smooth;    
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

h1{
    font-family: var(--font-family-1);
    font-size: var(--h1-size);
    font-weight: var(--fontweight-bold);
    margin: 0;
}

h2{
    font-family: var(--font-family-2);
    font-size: var(--h2-size);
    font-weight: var(--fontweight-extrabold);
    margin: 0;
}

h3{
    font-family: var(--font-family-2);
    font-size: var(--h3-size);
    font-weight: var(--fontweight-bold);
    margin: 0;
}

h4{
    font-family: var(--font-family-2);
    font-size: var(--h4-size);
    font-weight: var(--fontweight-bold);
    margin: 0;
}

h5{
    font-family: var(--font-family-2);
    font-size: var(--h5-size);
    font-weight: var(--fontweight-semibold);
    margin: 0;
}

h6{
    font-family: var(--font-family-2);
    font-size: var(--h6-size);
    font-weight: var(--fontweight-bold);
    margin: 0;
}

.body-text-1{
    font-family: var(--font-family-1);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-regular);
    line-height: 1.5;
    margin: 0;
}

.body-text-2{
    font-family: var(--font-family-2);
    font-size: var(--bodytext-2-size);
    font-weight: var(--fontweight-semibold);
    line-height: 1.5;
    margin: 0;
}

.body-text-3{
    font-family: var(--font-family-2);
    font-size: var(--bodytext-3-size);
    font-weight: var(--fontweight-semibold);
    line-height: 1.5;
    margin: 0;
}

.body-text-4{
    font-family: var(--font-family-1);
    font-size: var(--bodytext-4-size);
    font-weight: var(--fontweight-regular);
    line-height: 1.5;
    margin: 0;
}

.body-text-5{
    font-family: var(--font-family-1);
    font-size: var(--bodytext54-size);
    font-weight: var(--fontweight-semibold);
    line-height: 1.5;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

.container{
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1367px;
}

.STBF-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}


.subheadline{
    width: 700px;
    font-family: var(--font-family-2);
    font-size: var(--h4-size);
    color: var(--accent-color-2);
    font-weight: var(--fontweight-bold);
    margin: 0;    
}

.headline{
    margin: 0;
    width: 700px;
    font-family: var(--font-family-2);
    font-size: var(--h3-size);
    font-weight: var(--fontweight-bold);    
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
}

.intro-text{
    display: flex;
    font-size: var(--bodytext-1-size);
    width: 650px;
    padding-bottom: 1rem;
}

.content-size{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* SECTIONS STYLES */
/* Top Bar section */
.top-bar-area{
    background-color: var(--secondary-color);
    padding-left: 5rem;
    padding-right: 6rem;
}

.top-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    
    .top-bar-contact{
        display: flex;
        gap: 1.5rem;
        
        .top-bar-phone, .top-bar-mail{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            color: var(--text-color-dark); 
        }
    }

    .top-bar-sm{
    display: flex;
    gap: 1rem;
    }
}

.top-bar-link{
    color: var(--text-color-dark);
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}


/* Nav bar section */
#nav-bar{
    background-color: var(--background-color);
    padding-left: 5rem;
    padding-right: 5rem;
} 

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotyp{
    padding-top: 10px;
    padding-bottom: 8px;
}

.nav-list{
    display: flex;
    gap: 2rem;
}

.menu-item{
    padding: 14px 16px;
    font-family: var(--font-family-2);
    font-size: var(--bodytext-3);
    font-weight: var(--fontweight-semibold);
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;

    &:hover {
        color: var(--accent-color-2);
        text-decoration: underline;
    }
}

.menu-button{
    padding: 14px 16px;
    font-family: var(--font-family-2);
    font-size: var(--bodytext-3);
    font-weight: var(--fontweight-semibold);
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;

    &:hover {
        color: var(--accent-color-2);
        text-decoration: none;
    }
}



/* Main hero section */
.mainhero-area{
    background-color: var(--accent-color-2);
    height: 712px;
}

.mainhero-content{
    padding-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:    "subheadline image"
                            "headline image"
                            "ingress image"
                            "button image";
    align-content: start;
    column-gap: 8rem;
}

.mainhero-subheadline{
    grid-area: subheadline;
    color: var(--accent-color-1);
    padding-bottom: 1rem;
}

.mainhero-headline{
    grid-area: headline;
    color: var(--primary-color);
    line-height: 1;
    padding-bottom: 1rem;       
}

.mainhero-ingress{
    grid-area: ingress;
    color: var(--primary-color);
    padding-bottom: 2rem;    
    width: 732px;
}

.mainhero-button{
    grid-area: button;
    width: 180px;
}

.mainhero-image{
    grid-area: image;
}

/* Sub hero section */

#subhero{
    background-color: var(--accent-color-2);
    height: 467px;    
}

.subhero-area{
    margin: 0 auto;
    padding-top: 155px;
    max-width: 1320px;
}

.subhero-content{
    width: 600px;
}

.subhero-headline{
    color: var(--primary-color);
}

.subhero-ingress{
    color: var(--primary-color);
}

/* About Us section */
.about-us-area{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;    
    padding-top: 95px;
    padding-bottom: 95px;  
}

.about-us-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "keyvalues text text"
                            "keyvalues tiles tiles"
                            "keyvalues button info"
    ;
    column-gap: 2rem;
    row-gap: 0;
}

.keyvalues{
    grid-area: keyvalues;
}

.section-text-block{
    grid-area: text;
}

.tiles{
    grid-area: tiles;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.about-us-button{
    display: flex;
    grid-area: button;
    padding-top: 10px;
    width: 200px;
}

.icon-info-block{
    display: flex;
    grid-area: info;
    gap: 1rem;
    padding-top: 2px;
    align-items: center;
}

/* Brand Section */
#brand-area{
    background-color:var(--tertiary-color-2);
}

.brand-content{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Our Services Section */
#our-services-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.our-services-subheadline{
    color: var(--accent-color-2);
}

.our-service-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.our-services-headline{
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
    font-weight: var(--fontweight-bold);
}

.our-service-text{
    font-size: var(--bodytext-1-size);
    grid-area: about-text;
    width: 700px;
    padding-bottom: 1rem;
}

.placeholder-box{
    grid-area: placeholder;
    width: 520px;
    height: 340px;
    background-color: #c4c4c4;
    border: 3px solid var(--tertiary-color-1);
}

.our-service-info-box{
        display: grid;
        column-gap: 2rem;
        gap: 1rem;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto;
        grid-template-areas:    "tile-1 placeholder tile-3"
                                "tile-2 placeholder tile-4"
        ;
}

.tile-1{
    grid-area: tile-1;
}

.tile-2{
   grid-area: tile-2; 
}

.tile-3{
    grid-area: tile-3;
}

.tile-4{
    grid-area: tile-4;
}



/* Why Choose Us section */
.why-choose-us{
    background-color: var(--tertiary-color-2);
}

.why-us-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.why-us-subheadline{
    color: var(--accent-color-2);
}



.why-us-headline{
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
    font-weight: var(--fontweight-bold);
}

.why-us-text{
    font-size: var(--bodytext-1-size);
    width: 1000px;
    padding-bottom: 1rem;
}

.why-us-content{
    display: flex;
    gap: 3.5rem;
}

.why-us-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-1, .item-2, .item-3, .item-4{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.why-us-image{
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 83px;
    height: 83px;
}

.item-text{
    align-content: center;
}

.why-us-text-box{
    width: 550px;
    font-size: var(--bodytext-1-size);
}

.why-us-placeholder{
    height: 424px;
    width: 659px;
    background-color: #c4c4c4;
    border: 3px solid var(--tertiary-color-1);
}

/* Pricing Plan section */
#price-plan-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.price-plan-headline{
    width: 600px;
    padding-bottom: 2rem;
    line-height: 1;
}

.price-plan-subheadline{
    color: var(--accent-color-2);
    padding-bottom: .5rem;
}

.pricelist{
    display: flex;
    justify-content: space-between;
}

/* Booking section */
.booking-unit-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.booking-unit-content{
    display: flex;
    gap: 2rem;
}

.booking-unit-image{
    background-color: var(--placeholder-bg-color);
    border: 5px solid var(--tertiary-color-1);
    height: 545px;
    width: 673px;
}


#booking{
    background-color: var(--accent-color-2);
    padding-top: 95px;
    padding-bottom: 95px;
}

.booking-area {
    align-content: center;
} 

.booking-headline{
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 1rem;
}

.booking-text{
    display: flex;
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 1050px;
    padding-bottom: 1rem;
}

.booking-button-box{
    margin: 0 auto;
    width: 150px;
}

/* Blog Post section */
.blogpost-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.blogpost-subheadline{
    color: var(--accent-color-2);
}

.blogpost-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.blogpost-headline{
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
    font-weight: var(--fontweight-bold);
}

.blogpost-text{
    font-size: var(--bodytext-1-size);
    width: 1000px;
    padding-bottom: 1rem;
}

.blogpost-post{
    display: flex;
    justify-content: space-between;
}

/* FAQ section */
.faq-area{
    display: flex;
    padding-top: 92px;
    padding-bottom: 92px;
}

.faq-headline{
    color: var(--accent-color-1);
    
}

.faq-subheadline{
    width: 700px;
    font-size: 3.25rem;
    line-height: 1.1;
    padding-bottom: 1rem;
}

.faq-text{
    display: flex;
    font-size: var(--bodytext-1-size);
    width: 600px;
    padding-bottom: 1rem;
}


/* Subscribe section */
.subscribe{
    background-color: var(--tertiary-color-2);
}

.subscribe-area{
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.subscribe-form{
    display: flex;
    gap: 1rem;
 }
 /*
.input-field-subscribe{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1.1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 540px;

    &:focus{
        
        border: 1px solid var(--primary-color);
    }
    &::placeholder{
        font-size: 1rem;
    }
}

.required::after{
    content: " *";
    color: var(--error-color);
}

.error{
    font-size: 0.8em;
    color: var(--error-color);
    margin-top: 4px;
} */

/* Footer section */
#footer{
    padding: 2rem 0;
    background-color: var(--secondary-color);
}

.footer-area{
    display: flex;
    justify-content: space-between;   
}

.copy{
    font-family: var(--font-family-1);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-light);
    color: var(--text-color-dark);
}

.terms-policy{
    display: flex;
    align-content: center;
    column-gap: 50px;
    font-family: var(--font-family-1);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-light);

    img{
        padding-right: 10px;
    }
}

.footer-link{
    display: flex;
    color: var(--text-color-dark);
    align-content: center;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

/* Get In Touch section */
#get-in-touch-area{
    padding-top: 95px;
    padding-bottom: 95px;
}

.get-in-touch-content{
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:  "gitsubheadline form"
                        "githeadline form"
                        "gittext form"
                        "gitplaceholder form";
}

.get-in-touch-contact-form{
    grid-area: form;
}

.get-in-touch-subheadline{
    grid-area: gitsubheadline;
    color: var(--accent-color-2);
}
.get-in-touch-headline{
    grid-area: githeadline;
    width: 660px;
    font-size: 3.25rem;
    line-height: 1.1;
}

.get-in-touch-text{
    grid-area: gittext;
    font-size: var(--bodytext-1-size);
    width: 600px;
}

.get-in-touch-placeholder{
    grid-area: gitplaceholder;
    width: 664px;
    height: 367px;
    background-color: var(--placeholder-bg-color);
}

/* Find Us section */
#find-us-on-area{
    background-color: var(--accent-color-2);
}

.find-us-on-content{
    display: flex;
    justify-content: space-between;
}

.find-us-image{
    align-content: end;
    margin: 0;
}

.find-us-on-box{
    background-color: var(--tertiary-color-4);
    height: 600px;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.find-us-info-box{
    display: flex;
    flex-direction: column;
}
.find-us-title{
    margin: 0;
}

.find-us-text{
    width: 550px;
    padding-bottom: 1rem;
}

.iconboxes{
    padding-bottom: 1rem;
}

.line{
    height: 2px;
    width: 175px;
    margin-top: 20px;
    background-color: var(--secondary-color);  
}

.find-us-social-media-icons{
    display: flex;
    gap: 0.8rem;
}

.follow-us-box{
    display: flex;
    gap: 2rem;
}

/* PAGE STYLES */
/* Not Found Page */
.not-found-area{
    background-color: var(--accent-color-2);
    height: 1014px;
    padding: 200px;
    align-content: center;
}

.not-found-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;    
}

.not-found-subheadline{
    font-family: var(--font-family-1);
    font-size: var(--h5-size);
    font-weight: var(--fontweight-extrabold);
    color: var(--primary-color);
    text-align: center;
}

.not-found-headline{
    font-family: var(--font-family-1);
    font-size: var(--h2-size);
    font-weight: var(--fontweight-extrabold);
    color: var(--accent-color-1);
    text-align: center;
}

.not-found-text{
    font-family: var(--font-family-2);
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-regular);
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 600px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.not-found-button{
    margin: 0 auto;
    width: 180px;
}

/* COMPONENT STYLES */
/* Button */
.btn{
    background-color: var(--button-background-color);
    padding: 0.875rem 2rem;
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: var(--bodytext-2);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-semibold);
    text-align: center;
    height: 52px;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background-color: var(--button-hover-background-color);
        color: var(--text-color-dark);
        cursor: pointer;
        text-decoration: none;
    }
}

.btn-secondary{
    background-color: var(--button-background-color);
    padding: 0.875rem 2rem;
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    font-size: var(--bodytext-2);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-semibold);
    text-align: center;
    height: 52px;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        background-color: var(--primary-color);
        color: var(--text-color-dark);
        cursor: pointer;
        text-decoration: none;
    }
}

/* Faq Accordion */
.accordion__wrapper {
    display: flex;
    flex-direction: column;
}

.questions__accordion {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--tertiary-color-1);
    border-radius: 5px;
    padding: .5rem 1rem .5rem 1rem; 
}

.question.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--accent-color-1);
    border-radius: 5px;
    color: var(--accent-color-2);
    padding: .5rem 1rem .5rem 1rem; 
}

.question img {
    background-color: var(--gray-100);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.8rem;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 673px;
    border-radius: 8px;
    margin-bottom: 1.438rem;
}

.active.questions-answer__accordion {
    display: flex;
    flex-direction: column;
    width: 673px;
    border-radius: 8px;
}

.title__question {
    font-weight: 600;
    color: var(--gray-900);
    cursor: pointer;
    width: 100%;
    padding-right: 1rem;
}

.answer.active {
    display: block;
    color: var(--text-color);
    padding: 1.5rem 3rem .5rem 3rem;
    transition: all 0.3s ease-in;
}

.active img {
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.8rem;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
}

.chevron {
    color: var(--gray-900);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease-in, fill 0.3s ease-in, color 0.3s ease-in;
}

.active .chevron {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    transform: rotate(180deg);
    color: var(--white);
} 

/* Icon info Block */
.icon-info-block{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.icon-info-block-image-primary{
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 83px;
    height: 83px;
}

.icon-info-block-image-secondary{
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    border-radius: 50%;
    padding-top: 5px;
    width: 60px;
    height: 60px;
}

.icon-info-block-textcontent{
    align-content: center;
}

.icon-info-block-text{
    width: 550px;
    color: var(--secondary-color);
    font-size: var(--bodytext-1-size);
    font-family: var(--font-family-2);
    font-weight: var(--fontweight-semibold);
}

.contact-link{
    color: var(--secondary-color);
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}

/* Input Field */
.input-field-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
}

.input-field{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;

    &:focus{
        
        border: 1px solid var(--primary-color);
    }

    &::placeholder{
        font-size: 1rem;
    }
}

.input-label{
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Key Value */
.keyvalues-area{
    width: 673px;
    height: 441px;
    background-color: #c4c4c4;
    border: 3px solid var(--tertiary-color-1);
}

.keyvalues-box{
    background-color: var(--secondary-color);
    height: 149px;
    width: 615px;
    border-radius: 10px;    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
    margin-left: 28px;
    padding: 0 60px 30px 60px;
}

.keyvalues-item{
    text-align: center;
    align-items: center;
}

.keyvalues-headline{
    margin-bottom: -1rem;
    color: var(--accent-color-1);
}

.keyvalues-text{
    font-size: var(--bodytext-1-size);
    font-weight: var(--fontweight-light);
    color: var(--text-color-dark);
}

/* Post Cards */
.postcard-area{
    background-color: var(--secondary-color);
    width: 430px;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;

}

.postcard-content{
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:    "image"
                            "date"
                            "title"
                            "text"  
                            "button"  
    ;
}

.postcard-image{
    grid-area: image;
    width: 380px;
    height: 254px;
    margin: 0 auto;
    border-radius: 8px;
}

.postcard-date{
    grid-area: date;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-4-size);
    font-weight: var(--fontweight-light);
    align-content: center;

    img{
        padding-right: 10px;
    }
}

.postcard-title{
    grid-area: title;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-4-size);
    font-family: var(--font-family-2);
    font-weight: var(--fontweight-bold);
}

.postcard-text{
    grid-area: text;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-1-size);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-regular);
}

.postcard-link{
    grid-area: button;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    color: var(--accent-color-1);
    align-content: center;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }

    img{
        padding-left: 10px;
    }
}

/* Post Card Hover */
.postcard-area{
    background-color: var(--secondary-color);
    width: 430px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--accent-color-2);
    } 
}

.postcard-content{
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:    "image"
                            "date"
                            "title"
                            "text"  
                            "button"  
    ;
}

.postcard-image{
    width: 380px;
    height: 254px;
    margin: 0 auto;
    border-radius: 8px;
}

.postcard-date{
    grid-area: date;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-4-size);
    font-weight: var(--fontweight-light);
    align-content: center;

    img{
        padding-right: 10px;
    }
}

.postcard-title{
    grid-area: title;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-4-size);
    font-family: var(--font-family-2);
    font-weight: var(--fontweight-bold);
}

.postcard-text{
    grid-area: text;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--primary-color);
    font-size: var(--bodytext-1-size);
    font-family: var(--font-family-1);
    font-weight: var(--fontweight-regular);
}

.postcard-link{
    grid-area: button;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    color: var(--accent-color-1);
    align-content: center;
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }

    img{
        padding-left: 10px;
    }
}

/* Pricelist */
.pricelist-card{
    height: auto;
    width: 321px;
    background-color: var(--tertiary-color-3);
    border: 3px solid var(--tertiary-color-1);
    border-radius: 10px;    
    padding-top: 37px;
    padding-right:1.5rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.pricelist-header{
    text-align: center;
    color: var(--text-color);
}

.pricelist-price{
    text-align: center;
    padding-bottom: 1rem;

    .price{
        font-size: 3rem;
        font-weight: var(--fontweight-bold);
        color: var(--accent-color-1);
    }

    .month{
        padding-left: 1rem;
        font-size: 1.3rem;
        font-weight: var(--fontweight-semibold);
        color: var(--text-color);
    }
}

 .dollarsign{
    margin: 0;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
}

.pricelist-text{
    padding-bottom: 2rem;
    color: var(--secondary-color);
    text-align: center;
}

.divider{
    margin: 0 auto;
    border-top: 1px solid var(--secondary-color);
    width: 95%;
    align-content: center;    
    padding-bottom: 2rem;
}

.checklist{
    list-style-type: none;
    margin: 0;
    padding: 8px;    
}

.checklist-list{
    padding-bottom: 1rem;
}

.checklist-item{
    margin: 0;
    color: var(--text-color);
    padding-bottom: 0.5rem;
}

.list-icon{
    color: var(--secondary-color);
    padding-right: 0.5rem; 
}

.pricelist-button{
    width: 150px;
    margin: 0 auto;
}

/* Pricelist Hover */
.pricelist-card{
    height: auto;
    width: 321px;
    background-color: var(--tertiary-color-3);
    border: 3px solid var(--tertiary-color-1);
    border-radius: 10px;    
    padding-top: 37px;
    padding-right:1.5rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
        background-color: var(--accent-color-2);
    }
}

.pricelist-card:hover .pricelist-header,
.pricelist-card:hover .month,
.pricelist-card:hover .pricelist-text,
.pricelist-card:hover .checklist-item
{
    color: var(--text-color-dark);
}

.pricelist-card:hover .list-icon{
    color: var(--accent-color-1);
}

.pricelist-card:hover .divider{
    margin: 0 auto;
    border-top: 1px solid var(--text-color-dark);
    width: 95%;
    align-content: center;    
    padding-bottom: 2rem;
}

.pricelist-button:hover{
    width: 150px;
    margin: 0 auto;
    color: red;
}


/* Testimonials section */
/*Chat GPT helpt me with the background on the section. */
#testimonials-area{
    height: 669px;
    align-content: center;
    position: relative;
    background: url('bg-image.svg') center/cover no-repeat;
}

#testimonials-area::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--accent-color-2);
    z-index: 0;
}

.testimonials-content{
    position: relative;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    width: 800px;
    padding-bottom: 2rem;
    z-index: 1;
}

.testimonials-headling{
    color: var(--accent-color-1);
    text-align: center;
}

.testimonials-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    gap: 2rem;
}

.testimonials-subheadline{
    color: var(--primary-color);
    text-align: center;
}

.testimonials-text{
    color: var(--primary-color);
    text-align: center;
}

/* Testimonial Card */
.testimonial-card{    
    background-color: var(--primary-color);
    padding: 32px 25px 32px 25px;
    border-radius: 10px;   
    width: 437px; 
}

.testimonial-card-item{
        display: grid;
        row-gap: 2rem;
        grid-template-columns: auto auto ;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:    "stars stars"
                                "review-text review-text"
                                "user-info testimonials-quots "
        ;
        height: 100%;
}

.stars{
    grid-area: stars;
    padding-right: 3px;
}

.review-text{
    grid-area: review-text;
}

.user-info{
    grid-area: user-info;
    display: flex;    
    column-gap: 1rem;

}

.user-avatar{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.user-name-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-title{
    font-family: var(--font-family-1);
    font-size: var(--bodytext-4-size);
} 

.testimonial-quots{
    grid-area: testimonials-quots;
    display: grid;
    align-items: end;
    justify-items: end;
}

/* Tiles */
/* Cardsizes variants */

.tile-primary{
    margin: 0;
    border: 3px solid var(--tertiary-color-1);
    border-radius: 10px;
    min-width: 321px;
    max-width: 321px;

    &:hover{
        border: 3px solid var(--accent-color-2);
    }
}

.tile-secondary{
    margin: 0;
    border: 3px solid var(--tertiary-color-1);
    border-radius: 10px;
    min-width: 390px;
    max-width: 390px;

    &:hover{
    border: 3px solid var(--accent-color-2);
    }
}

/* Title and text variants */
.tile-title{
    padding: 25px 25px 0 25px;
}

.tile-title-secondary{
    padding: 15px 15px 0 20px;
}

.tilestitle{
    font-weight: var(--fontweight-bold);
}

.tile-text{
    padding: 16px 25px 16px 25px;
}
.tile-text-secondary{
    padding: 16px 25px 16px 20px;
}

/* FORMS STYLES */
/* Contact Form */
.form-area{
    background-color: var(--tertiary-color-2);
    padding: 3rem;
    border-radius: 10px;
    width: 660px;
}

.contact-form{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:    "yourname yourname"
                            "email telephone"
                            "subject subject"
                            "comments comments"
                            "button button"
    ;
}

#yourName{
    grid-area: yourname;
    display: grid;
}

#email{
    display: grid;
    grid-area: email;
}

#telephone{
    display: grid;
    grid-area: telephone;
}

#subject{
    display: grid;
    grid-area: subject;
}

#comments{
    display: grid;
    grid-area: comments;
}

.contact-form-label{
    padding-bottom: 0em;
}

.contact-form-input{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;

    &:focus{
        font-family: var(--font-family-1);
        color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        font-size: 1rem;
    }

    &::placeholder{
        font-size: 1rem;
    }
}

.contact-form-textarea{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    min-height: 80px;
    resize: none;
}

#submit-button{
    display: grid;
    grid-area:  button;
    width: 180px;
}

.required::after{
    content: " *";
    color: var(--error-color);
}


/* Form errors */
.error{
    border: 1px solid var(--error-color);
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    margin-top: 0;
}

.error:focus{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    border: 1px solid var(--error-color);
}

.error-message{
    font-size: 0.8em;
    min-height: 1.5em;
    color: var(--error-color);   
}

/* Submitted message */
.submitted-message{
    display:flex;
    flex-direction: column;
    background-color: var(--accent-color-2);
    padding: 2rem;
    border-radius: 5px;
}

.submitted-text{
    padding-bottom: 2rem;
    color: var(--text-color-dark)
}

.submitted-button{
    width: 200px;
}


/* Booking form */
.bookingform-area{
    background-color: var(--tertiary-color-2);
    padding: 3rem;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.bookingform-content{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:    "yname email"
                            "unit unit"
                            "storage storage"
                            "button button"
                            ;
}

#bookingform-name{
    display: grid;
    grid-area: yname;
}

#bookingform-email{
    display: grid;
    grid-area: email;
}

#bookingform-unit{
    display: grid;
    grid-area: unit;
}

#bookingform-storage{
    display: grid;
    grid-area: storage;
    min-height: 150px;
}

.bookingform-button{
    display: grid;
    grid-area: button;
    width: 150px;
}

.bookingform-input{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;

    &:focus{
        font-family: var(--font-family-1);
        color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        font-size: 1rem;
    }

    &::placeholder{
        font-size: 1rem;
    }
}

.bookingform-textarea{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    min-height: 80px;
    resize: none;
}

.bookingform-select{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    min-height: 80px;
    resize: none;
}


/* Subscribe form */
.subscribe-form-area{
    display: flex;
    gap: 1rem
 }

.subscribeform-input{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 540px;

    &:focus{
        font-family: var(--font-family-1);
        color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        font-size: 1rem;
    }

    &::placeholder{
        font-size: 1rem;
    }
}

.input-error{
    border: 1px solid var(--error-color);
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    font-size: 1rem;
    margin-top: 0;
}


/* 
.custom-select{
    position: relative;
    width: 100%;
    font-family: var(--font-family-1);

    .select-box{
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: border-color 0.15s ease-in-out;

        &.active .arrow{
            transform: rotate(180deg);
        }

        &.active + .option{
            display: block;
        }
    }

    .arrow{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--border-color);
    transition: transform 0.15s ease-in-out;
    }

    .options{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid var(--border-color);
        border-top: none;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        display: none;

        .option{
            padding: 10px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &:hover{
                background-color: blueviolet;
                color: white;
            }
        }
    }

} */







