.form-area{
    background-color: var(--tertiary-color-2);
    padding: 3rem;
    border-radius: 10px;
    width: 660px;
}

.booking-form{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:    "yourname email"
                            "unit unit"
                            "storage storage"
                            "button button"
    ;
}

#yourName{
    grid-area: yourname;
    display: grid;
}

#email{
    display: grid;
    grid-area: email;
}

#unit{
    display: grid;
    grid-area: unit;
}

#storage{
    display: grid;
    grid-area: storage;
    min-height: 150px;
}

#submit-button{
    display: grid;
    grid-area:  button;
    width: 180px;
}

input{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 5px;

    &:focus{
        
        border: 1px solid var(--primary-color);
    }

    &::placeholder{
        font-size: 1rem;
    }
}

label{
    padding-bottom: 0.5rem;
}

textarea{
    font-family: var(--font-family-1);
    color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    resize: vertical;
    width: 100%;
    margin-bottom: 0.5rem;

    &:focus{
        
        border: 1px solid var(--primary-color);
    }
    
    &::placeholder{
        font-size: 1rem;
    }
}

.required::after{
    content: " *";
    color: var(--error-color);
}

.error{
    font-size: 0.8em;
    color: var(--error-color);
    margin-top: 4px;
}

